@font-face {
  font-family: "Exo";
  src: url(../assets/fonts/Exo-Thin.ttf) format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Exo";
  src: url(../assets/fonts/Exo-ExtraLight.ttf) format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Exo";
  src: url(../assets/fonts/Exo-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Exo";
  src: url(../assets/fonts/Exo-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Exo";
  src: url(../assets/fonts/Exo-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Exo";
  src: url(../assets/fonts/Exo-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Exo";
  src: url(../assets/fonts/Exo-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Exo";
  src: url(../assets/fonts/Exo-ExtraBold.ttf) format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Kaisei HarunoUmi";
  src: url(../assets/fonts/KaiseiHarunoUmi-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Kaisei HarunoUmi";
  src: url(../assets/fonts/KaiseiHarunoUmi-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Kaisei HarunoUmi";
  src: url(../assets/fonts/KaiseiHarunoUmi-Bold.ttf) format("truetype");
  font-weight: 700;
}
