@font-face {
  font-family: "Exo";
  src: url(../assets/Exo-Thin.ttf) format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Exo";
  src: url(../assets/Exo-ExtraLight.ttf) format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Exo";
  src: url(../assets/Exo-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Exo";
  src: url(../assets/Exo-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Exo";
  src: url(../assets/Exo-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Exo";
  src: url(../assets/Exo-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Exo";
  src: url(../assets/Exo-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Exo";
  src: url(../assets/Exo-ExtraBold.ttf) format("truetype");
  font-weight: 800;
}
