.component__header {
  height: 60px;
  width: 100%;
}
.component__header-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffffff2;
  z-index: 1000;
  backdrop-filter: blur(8px);
  overflow: hidden;
}
.component__header-container-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
