.nav {
  display: flex;
  align-items: center;
  padding: 0;
}
.nav .nav--item {
  list-style-type: none;
}
.nav .nav--item:not(:last-child) {
  margin-right: 1rem;
}
.nav .nav--item a {
  text-decoration: none;
  color: black;
}
.nav .nav--item a.active {
  text-decoration: underline;
}
