.component__search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 2rem auto 2rem;
  z-index: 100;
}
.component__search-button {
  display: none;
  background-color: transparent;
  border: 1px solid #0072c6;
  height: 38px;
  width: 38px;
  align-items: center;
  justify-content: center;
  z-index: 2;
  cursor: pointer;
  transition: 0.25s all;
}
.component__search-button--active,
.component__search-button:hover {
  background-color: #0072c6;
}
.component__search-button--active:hover {
  background-color: #0060a7;
  border-color: #0060a7;
}
.component__search-button svg {
  height: 38px;
  width: 38px;
}
.component__search-button svg path:nth-child(2) {
  stroke: #0072c6;
  fill: transparent;
  stroke-width: 1px;
  transition: 0.25s all;
}
.component__search-button--active svg path:nth-child(2),
.component__search-button:hover svg path:nth-child(2) {
  stroke: #ffffff;
  stroke-width: 1px;
}
.component__search-select-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.component__search-select {
  min-width: 25rem;
  width: fit-content;
  max-width: 100%;
  outline: none !important;
}
.component__search-select-button {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: #0072c6;
  height: 38px;
  width: 38px;
  transition: 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component__search-select-button:hover {
  background-color: #0060a7;
}
.component__search-select-button svg {
  height: 25px;
  width: 25px;
  fill: #ffffff;
  transition: 0.25s;
}
.component__search-select-button--rotate svg {
  transform: rotate(180deg);
  transform-origin: center center;
}

.component__search__control {
  box-shadow: none !important;
  border: none !important;
  border-bottom: 1px solid !important;
  border-radius: 0 !important;
  border-color: lightgray !important;
  cursor: text !important;
}
.component__search__indicators {
  display: none !important;
  cursor: pointer !important;
}
.component__search-select--active {
  display: block;
}
