.component__search {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto 0;
  z-index: 100;
}
.component__search-container {
  overflow-x: hidden;
  padding-top: 20px;
  margin-right: 20px;
  width: 350px;
  min-height: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.component__search-select {
  width: 300px;
  outline: none !important;
}
.component__search-select-container {
  transform: translateX(375px);
}
.component__search-select-button {
  z-index: 100;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: #0072c6;
  height: 50px;
  width: 50px;
  transition: 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component__search-select-button:hover {
  background-color: #0060a7;
}
.component__search-select-button svg {
  height: 25px;
  width: 25px;
  fill: #ffffff;
  transition: 0.25s;
}
.component__search-select-button--rotate svg {
  transform: rotate(180deg);
  transform-origin: center center;
}
.component__search__control {
  min-height: 50px !important;
  box-shadow: none !important;
  border: none !important;
  border-bottom: none !important;
  border-radius: 0 !important;
  border-color: lightgray !important;
  cursor: text !important;
}
.component__search__menu {
  position: static !important;
}
.component__search__indicators {
  display: none !important;
  cursor: pointer !important;
}
