.component_search {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding-bottom: 10px;
  position: relative;
  z-index: 900;
}
.component_search__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filters_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex: auto;
  overflow-x: scroll;
  margin-right: 1rem;
}
.tag_item {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
}
.tag_item svg {
  cursor: pointer;
  margin-left: 0.5rem;
}
.select_container {
  position: relative;
  width: 20rem;
}
.component__search__control {
  box-shadow: none !important;
  height: 40px !important;
  cursor: text !important;
  border-radius: 0 !important;
  background-color: hsl(0deg 0% 100% / 60%) !important;
  border: none !important;
  border-color: hsl(0, 0%, 90%) !important;
}
.component__search__placeholder {
  color: hsl(0deg 0% 75%) !important;
  font-weight: 300;
  letter-spacing: 1px;
}
.component__search__indicator-separator {
  display: none !important;
}
.component__search__indicators {
  position: relative !important;
  cursor: pointer !important;
  background-color: #1aace7;
  width: 42px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.component__search__clear-indicator {
  display: none !important;
}
.component__search__indicator,
.component__search__indicator:hover {
  color: #ffffff !important;
}

.component__search__value-container {
  position: relative;
  background-color: #fcfcfc !important;
  padding: 0.25rem !important;
  border: none;
  border-bottom: 1px solid #edededd8;
}
.component__search__menu {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0 !important;
}
.component__search__menu-list {
  max-height: 200px !important;
  padding: 0 !important;
}
.component__search__option {
  cursor: pointer !important;
}
.display_button__icon {
  position: absolute;
  bottom: -3rem;
  left: 0;
  right: 0;
  margin: auto;
  height: 2rem;
  width: 2rem;
  display: flex;
  background-color: #1aace7;
  cursor: pointer;
  fill: #ffffff;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
}
.display_button__icon:hover {
  background-color: #08a4e1;
}
.display_button__icon svg {
  fill: #ffffff;
}
