.container__cards,
.container__photos {
  height: auto;
  margin: auto;
  flex: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0.5rem 0 3rem;
}

.container__gallery {
  margin: 1rem 0 3rem;
}
