.form_contact__col--25 {
  width: 33.33%;
}
.form_contact__col--50 {
  width: 50%;
}
.form_contact__col--100 {
  width: 100%;
}

@media screen and (max-width: 725px) {
  .form_contact__col--25,
  .form_contact__col--50 {
    width: 100%;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: transparent;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
