.header {
  width: 100%;
  overflow: hidden;
  height: 80px;
}
.header__container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #ffffffec;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  backdrop-filter: blur(10px);
}
.header__content {
  max-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  position: relative;
  z-index: 1000;
}
