.page__about {
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__bannier {
  width: 50%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page__bannier img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.page__body {
  padding: 0 0 0 5rem;
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page__body h2,
.page__body p {
  width: 100%;
  text-align: left;
}
.page__body h2 {
  margin: 0;
}
@media (max-width: 768px) {
  .page__about {
    flex-direction: column;
    padding-bottom: 5rem;
  }

  .page__bannier {
    width: 100%;
    margin-bottom: 3rem;
  }

  .page__body {
    padding: 0;
    width: 100%;
  }
}
