.wrap {
}

.small {
  height: auto;
  max-width: var(--max-width-s);
}

.medium {
  height: auto;
  max-width: var(--max-width-m);
}
.large {
  height: auto;
  max-width: var(--max-width-l);
}

.legend {
  text-align: center;
}
