.link_svg {
  height: 7rem;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  position: relative;
  cursor: pointer;
}
.arrow_1 {
  transform: rotate(180deg);
}

.btn_span {
  display: block;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  pointer-events: none;
  transition: transform 0.2s linear;
}
