.suggestions_container {
  margin-top: 10rem;
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.suggestions_container::before {
  content: "";
  background-color: #f8f8f8;
  width: 200vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: -50vw;
  z-index: -1;
}
.suggestion {
  width: 50%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.suggestion a {
  display: block;
  height: 600px;
  width: 400px;
  position: relative;
}
.suggestion .overlay {
  height: 100%;
  width: 100%;
  background-color: #00000083;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.suggestion img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.suggestion span {
  height: fit-content;
  width: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: #ffffff;
  font-size: 40px;
}
/* .suggestions_container {
  margin-top: 4rem;
  width: 100%;
  height: 10rem;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.suggestion {
  font-size: 22px;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.suggestion__0 span {
  margin-left: 2rem;
}
.suggestion__1 {
  flex-direction: row-reverse;
}
.suggestion__1 span {
  margin-right: 2rem;
}

@media (max-width: 768px) {
  .suggestions_container {
    flex-direction: column;
  }
  .suggestion svg {
    display: none;
  }
}
 */
