.block__container {
  height: auto;
  margin: 0 auto 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text_image {
  flex-direction: row-reverse;
}
/* IMAGE */
.image__container {
  width: 50%;
  max-width: 50%;
  overflow: hidden;
}
.image__container img {
  object-fit: contain;
  object-position: center center;
}
.small,
.medium,
.large {
  width: auto;
}
/* TEXT */
.text__container {
  width: 450px;
  max-width: 50%;
  padding-left: 2rem;
  padding-right: 0;
}
.text_image .text__container {
  padding-left: 0;
  padding-right: 2rem;
}

@media screen and (max-width: 980px) {
  .block__container {
    flex-direction: column;
  }
  .text_image {
    flex-direction: column-reverse;
  }
  .image__container {
    width: 100%;
    max-width: 100%;
  }
  .image__container img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .text__container,
  .text_image .text__container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .small,
  .medium,
  .large {
    width: 100%;
    height: auto;
  }
}
