.page__about {
  padding: 0 0 3rem;
}
.hero_bannier {
  height: 30rem;
  width: 100%;
  overflow: hidden;
}
.hero_bannier img {
  object-fit: cover;
  object-position: center;
}
/* TEXT CONTAINER */
.text__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 2rem;
  position: relative;
}
.text__content {
  width: 40%;
}
