.page__about {
  padding: 0 0 3rem;
}
.hero_bannier {
  height: 40rem;
  width: 50%;
  overflow: hidden;
}
.hero_bannier img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* TEXT CONTAINER */
.text__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 2rem;
  position: relative;
}
.text__content {
  width: 40%;
}
