.page__contact {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
/* HERO BANNIER */
.hero__bannier {
  height: 25rem;
  width: 100%;
}
.hero__bannier img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
/* FORM CONTAINER */
.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 3rem 0;
}
.text__container {
  width: 100%;
}
.text__title {
  font-weight: 400;
  font-size: 50px;
  margin: 0;
  text-align: center;
  margin: auto;
}
.text__description {
  font-size: 18px;
  font-weight: 400;
  width: 400px;
  max-width: 90vw;
  text-align: center;
  margin: 1rem auto;
}
