.wrap {
  margin: calc(var(--baseline) * 2) auto;
}

.small,
.large {
  padding: 0 var(--baseline);
}

.small {
  max-width: var(--max-width-s);
}

.large {
  max-width: var(--max-width-m);
}

.legend {
  text-align: center;
}
