.container__cards,
.container__photos {
  height: auto;
  margin: auto;
  flex: auto;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-height: 700px;
}
