/* VARIABLES */
@value --white: #ffffff;
@value --black: #000000;
@value --blue: #1aace7;
@value --select-bg: #f8f8f8;
@value --placeholder: #d8d8d8;

/* SEARCHBAR */
.searchbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: --white;
  padding-bottom: 10px;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 900;
}
.searchbar__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchbar__filters {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex: auto;
  overflow-x: scroll;
  margin-left: 1rem;
}
.filter__item {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
}
.filter__item svg {
  cursor: pointer;
  margin-left: 0.5rem;
}
.searchbar__select {
  position: relative;
  width: 20rem;
}
.searchbar__select :global(.searchbar__control) {
  box-shadow: none !important;
  height: 40px !important;
  cursor: text !important;
  border-radius: 0 !important;
  border: none !important;
}
.searchbar__select :global(.searchbar__placeholder) {
  color: --placeholder !important;
  font-weight: 300;
  letter-spacing: 1px;
}
.searchbar__select :global(.searchbar__indicator-separator) {
  display: none !important;
}
.searchbar__select :global(.searchbar__indicators) {
  display: none !important;
}
.searchbar__select :global(.searchbar__clear-indicator) {
  display: none !important;
}
.searchbar__select :global(.searchbar__value-container) {
  position: relative;
  background-color: --select-bg !important;
  padding: 0.25rem !important;
  border: none;
}
.searchbar__select :global(.searchbar__menu) {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0 !important;
}
.searchbar__select :global(.searchbar__menu-list) {
  max-height: 200px !important;
  padding: 0 !important;
}
.searchbar__select :global(.searchbar__option) {
  cursor: pointer !important;
}
.searchbar__select :global(.searchbar__option--is-focused) {
  background-color: --blue !important;
  color: --white !important;
}
